body{
	background-image:url('../background.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#container{
	border:2px solid black;
	border-radius: 15px; 
	margin: 90px 60px  60px 60px;
	background:#F2F3B2
}

#wrap_inner{
	border:1px solid none; 
	text-align:center
}

h1{
    margin-left: 100px;
    text-decoration: underline;
}

#tab >li{
	margin: auto 40px;
	
}

a{
	text-decoration: none;
}

.active{
	color: red;
}

.tablink:hover{
	color: red;
}

.content {
	display: none;
}

.content > p{
	display: inline-block;
}

.content >p >input{
	margin: 15px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
}


.content >button{
	width: 105px; 
	height: 40px;
	display: inline-block;
	border-radius: 8px;
}

.content >button:hover{
	color: blue;
	font-size: 20px;
}