.container{
    overflow: auto;
}
h1{
    display: block;
    margin: 0 20px;
    padding: 10px;
    color: blue;
}
h1:hover{
    text-transform: uppercase;
    color: red;
}

hr{
    color: #ccc;
}
h2{
    padding-left: 30px;
}
.aidiom{
    color:red;
    pointer-events:none;
}
.tabcontent {
    padding: 10px 35px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
input{
    border-radius: 9px;
    height: 30px;
}

.title{
	font-weight: bold;
}
.type{
	color: teal;
}

.butt{
    margin-left: 30px;
    border-radius: 9px;
    height: 30px;
}
.butt:hover{
    color: blue;
}
.image{
    padding-top: 20px;
    float:left;
    width:30%;
}

.result{
    float: right;
    display: inline-block;
    width:65%;
    padding-top: 20px;
    height: 300px;
    overflow: auto;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}
.aexample{
    color:#337ab7;
}